.footer h4 {
  font-size: 3.5rem;
  text-align: center;
  color: var(--text-main);
  margin-bottom: 4rem;
}

.form-container {
  padding: 10rem 0;
  border-top: 1px solid var(--gray);
}

.footer__form {
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.footer__form--input,
.footer__form--textarea {
  width: 100%;
  padding: 1.6rem 2.4rem;
  outline: none;
  color: var(--text-main);
  background-color: rgba(26, 188, 156, 0.1);
  border: 1px solid transparent;
  font-size: 1.6rem;
  border-radius: 0.8rem;
}

.footer__form--input:focus,
.footer__form--textarea:focus {
  border: 1px solid var(--green);
}

.footer__form--textarea {
  min-height: 18rem;
  resize: none;
  grid-column: 1 / -1;
}

.footer__form--input::placeholder,
.footer__form--textarea::placeholder {
  color: var(--gray);
}

.footer__form--btn-submit {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem;
  margin-top: 2rem;
  color: var(--black);
  background-color: var(--green);
  border-radius: 0.8rem;
  grid-column: 2;
}

.footer__form--btn-submit:active {
  scale: 0.98;
}

.footer__copyright {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
  color: var(--text-main);
}

@media (hover: hover) {
  .footer__form--btn-submit:hover {
    background-color: rgba(26, 188, 156, 0.8);
  }
}
