.footer-form-container {
  padding: 10rem 0;
  border-top: 1px solid var(--gray);
  text-align: center;
}

.footer h4 {
  font-size: 3.5rem;
  color: var(--text-main);
  margin-bottom: 4rem;
}

.footer-form__notification {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--green);
  background: rgba(26, 188, 156, 0.2);
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 0.8rem;
}

.footer-form__notification.error {
  color: var(--red);
  background-color: rgba(212, 0, 0, 0.2);
}

.footer-form {
  max-width: 60rem;
  margin: 0 auto;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.footer-form .label-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-main);
  margin-bottom: 1rem;
  display: block;
}

.footer-form .error-message {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--red);
  margin-top: 0.5rem;
  display: block;
}

.footer-form__input,
.footer-form__textarea {
  width: 100%;
  padding: 1.6rem 2.4rem;
  outline: none;
  color: var(--text-main);
  background-color: rgba(26, 188, 156, 0.1);
  border: 1px solid transparent;
  font-size: 1.6rem;
  border-radius: 0.8rem;
}

.footer-form__input.error,
.footer-form__textarea.error {
  border: 1px solid var(--red);
}

.footer-form__input:focus,
.footer-form__textarea:focus {
  border: 1px solid var(--green);
}

.message-label {
  grid-column: 1 / -1;
}

.footer-form__textarea {
  min-height: 18rem;
  resize: none;
}

.footer-form__input::placeholder,
.footer-form__textarea::placeholder {
  color: var(--gray);
}

.footer-form__btn-submit {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem;
  margin-top: 2rem;
  color: var(--black);
  background-color: var(--green);
  border-radius: 0.8rem;
  grid-column: 2;
}

.footer-form__btn-submit:active {
  scale: 0.98;
}

.footer-form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.footer-form button:disabled:active {
  scale: 1;
}

.footer__copyright {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
  color: var(--text-main);
}

@media (hover: hover) {
  .footer-form__btn-submit:hover {
    background-color: rgba(26, 188, 156, 0.8);
  }
}
