@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap");

.logo-box {
  font-family: "Konkhmer Sleokchher", cursive;
  font-size: 6rem;
  color: var(--green);
  display: flex;
}

.logo-box p:first-child {
  margin-right: -1rem;
}
