.navigation {
  margin: 0 auto;
}

.nav-list {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--gray);
  display: flex;
  gap: 4rem;
}

.nav-link a {
  padding: 1rem;
  display: block;
}

.nav-link {
  border: 2px solid transparent;
  border-radius: 0.8rem;
  transition: all 0.2s;
}

@media (hover: hover) {
  .nav-link:hover {
    border: 2px solid var(--green);
  }
}

@media (max-width: 500px) {
  .navigation {
    display: none;
  }
}
