.projects-container {
  padding: 10rem 0;
  border-top: 1px solid var(--gray);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

@media (max-width: 500px) {
  .projects-container {
    padding: 8rem 0;
  }
}
