.project {
  width: 35rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid lightgray;
  overflow: hidden;
}

.project__title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2rem 0;
  color: black;
  font-weight: 500;
}

.project__tools {
  display: flex;
  gap: 1rem;
}

.project__tools p {
  font-size: 1.6rem;
  text-transform: uppercase;
}
