.theme-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme-box svg {
  width: 3rem;
}

.btn-sun svg {
  fill: var(--sun-bg);
}

.btn-moon svg {
  fill: var(--moon-bg);
}

.theme-switch {
  width: 5rem;
  padding: 0.5rem;
  background-color: var(--green);
  border-radius: 5rem;
  display: flex;
  align-items: center;
}

.theme-switch--ball {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: whitesmoke;
  transition: all 0.2s;
}

.theme-switch--ball.right {
  margin-left: 2.4rem;
}
