.btn-theme-box {
  padding: 1rem;
  background-color: var(--green);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-theme-box svg {
  width: 3rem;
  fill: var(--theme-bg);
}
