.theme-box {
  display: flex;
  align-items: center;
}

.theme-box svg {
  width: 3rem;
}

.theme-switch {
  width: 6rem;
  display: flex;
  align-items: center;
}

.theme-switch--ball {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
