:root {
  --main-bg: #f7f7f7;
  --b-w: black;
  --sun-bg: gold;
  --moon-bg: black;
  --green: #1abc9c;
  --red: #ff2337;
}

.dark-theme {
  --main-bg: #111111;
  --b-w: whitesmoke;
  --sun-bg: whitesmoke;
  --moon-bg: gold;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--main-bg);
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-container {
  width: 94%;
  max-width: 120rem;
  margin: 0 auto;
}
